* {
  padding: 0;
  margin: 0;
}
.container-title {
  background-color: orange;
  max-width: 800px;
  margin: auto;
}
.title {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.corpo-texto {
  max-width: 400px;
}
